body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
    font-family: "Jost", sans-serif;
}

header {
    padding:10px 15px 15px 10px;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        .platform-title {
            font-size: 1.5rem;
        }
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            padding: 20px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: #141414;
                border-radius: 3px;
            }
        }
    }
}

main {
    padding:10px 15px 15px 10px;
    .section-title {
        font-size: 1.3rem;

        #top-text {
            &::before {
                content: '5'
            }
        }
    }


    .top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;

        .top-item {
            transition: all .3s ease-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }

    }

    .first,
    .second {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .item {
            transition: all .3s ease-out;

            cursor: pointer;

            img {
                min-width: 250px;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media (width <=1280px) {
    body {
        background-color: tomato;
    }

    header {
        .header-logo {
            .platform-title {
                visibility: hidden;
            }
        }
    }

    main {
        .section-title {

            #top-text {
                &::before {
                    content: '3'
                }
            }
        }

        .top {
            .top-item {
                width: 50px;
            }
            .top-item:nth-last-child(n + 4)  {
                visibility: collapse;
            }
        }
    }
}